.container{
    display: grid;
    display: grid;
    align-content: center;
    padding: 80px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "one one two three"
    "four five five three"
   ;
   align-items: center;
   gap: 10px;
   background-color: hsl(0, 0%, 81%);
}

.danielClifford{
    display: flex;
    flex-direction: column;
    width: 560px;
    grid-area: one;
    height: 300px;
    background-color: hsl(263, 55%, 52%);
    text-align: center;
    gap: 1px;
}

.JonathanWalters{
   display: flex;
   flex-direction: column;
   gap: 20px;
   grid-area: two;
   width: 265px;
   background-color: hsl(217, 19%, 35%);
   height: 300px;
}

.JeanetteHarmon{
   grid-area: four;
   color: hsl(219, 29%, 14%);
   display: flex;
   flex-direction: column;
   width: 270px;
   height: 300px;
   background-color: hsl(0, 0%, 100%);
}
.JeanetteHarmon, .experience p{
   opacity: 0.7;
}

.PatrickAbrams{
   grid-area: five;
   display: flex;
   flex-direction: column;
   width: 550px;
   background-color: hsl(219, 29%, 14%);
   height: 300px;
}

.danielClifford, .JonathanWalters, .PatrickAbrams{
   color: hsl(0, 0%, 81%);
}
.JonathanWalters .name h2{
   color: hsl(0, 0%, 81%); 
}
.PatrickAbrams .name h2{
   color: hsl(0, 0%, 81%);
}
.danielClifford .name h2{
   color: hsl(0, 0%, 81%);
}
.danielClifford .offer{
   display: block;
   flex-direction: column;
}

.danielClifford, .JonathanWalters, .PatrickAbrams p{
   color: hsl(0, 0%, 81%);
}

.KiraWhittle{
  grid-area: three;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 620px;
  color: hsl(219, 29%, 14%);
  background-color: hsl(0, 0%, 100%);
}



.header{
   display: flex;
   flex-direction: row;
   /* font-size: 10px; */
   /* gap: 10px; */
   height: 50px;
   align-items: center;
   justify-content: flex-start;
}
.header img{
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

.name{
   gap: 2px;
   /* background-color: green; */
   height: 30px;
   gap: 1px;
   padding-left: 10px;
}

.name h2{
   color: hsl(0, 0%, 100%);
   opacity: 50%;
   font-size: 8px;
   /* background-color: blue; */
}

.name h1{
   font-size: 8px;
   /* background-color: red; */
}

.KiraWhittle, .name h2{
   color: black;
   opacity: 100%;
}

.offer p{
   opacity: 90%;
   font-weight: 1000;
}

.container p{
   color: hsl(0, 0%, 81%);
   opacity: 80%;
}

.danielClifford, .JonathanWalters, .JeanetteHarmon, .PatrickAbrams, .KiraWhittle{
   padding: 5px;
}

@media screen and (max-width: 600px){
   .container{
      display: flex;
      flex-direction: column;
      padding: 0%;
   }
   .danielClifford{
      height: 400px;
      width: auto;
   }
   .JonathanWalters{
      width: auto;
      height: auto;
   }
   .JeanetteHarmon{
      width: auto;
      height: auto;
   }
   .PatrickAbrams{
      width: auto;
      height: auto;
   }
   .KiraWhittle{
      width: auto;
      height: auto;
   }

}
